:root {
    --primary-main: hsla(0, 0%, 11%, 1);
    --primary-grey: hsla(60, 5%, 91%, 1);
    --primary-white: hsla(0, 0%, 100%, 1);
    --label-bestseller: hsla(56, 35%, 77%, 1);
    --label-limited: hsla(293, 35%, 77%, 1);
    --nav-height: 88px;
    --border-radius-main: 6px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--primary-white);
    color: var(--primary-main)
}

.body-text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
}

.body-text-large {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 120%;
}

.heading-text {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 120%;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--primary-main);
}

.header {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.nav {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--primary-white);
    height: var(--nav-height);

    & .nav__logo-side {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    & .nav__logo-side-extra-text {
        margin-left: 32px;
        display: none;
    }

    & .nav__right-side {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    & .nav__right-side-desktop {
        display: none;
        align-items: center;
        gap: 12px;
    }

    & .nav__burger-menu {
        background-color: var(--primary-white);
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        height: 100%;
        width: 290px;
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 0 16px 0 32px;
        z-index: 50;
        opacity: 0;
        transition: transform .3s;
    }

    & .nav__burger-menu.open {
        opacity: 100;
        transform: translateX(0);
    }

    & .nav__burger-menu-overlay {
        position: fixed;
        inset: 0;
        background-color: hsla(0, 0%, 11%, 0.8);
        z-index: 40;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s;
    }

    & .nav__burger-menu-overlay.open {
        opacity: 100;
        pointer-events: auto;
    }

    & .nav__burger-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        height: var(--nav-height);
    }

    & .nav__burger-menu-close {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    & .nav__links-list {
        list-style: none;
        gap: 42px;
        display: none;
    }

    & .nav__links-list--mobile {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    & .nav__links-list-item:hover {
        text-decoration: underline;
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 16px 64px 16px;

    & .products__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    & .products__items {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 12px;
    }

    & .products__single-item {
        background-color: var(--primary-grey);
        border-radius: var(--border-radius-main);
        aspect-ratio: 1 / 1;
        padding: 8px;
    }

    & .products__single-item-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    & .products__info {
        font-size: 0.8rem;
    }
}

.product-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 312px;
    height: 420px;
    border: none;
    background-color: var(--primary-grey);
    padding: 16px;
    border-radius: var(--border-radius-main);

    & .product-modal__container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        height: 100%;
    }

    & .product-modal__info-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .product-modal__close {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    & .product-modal__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.product-modal::backdrop {
    background-color: black;
    opacity: 0.5;
}

.product-banner {
    grid-column: 1 / -1;
    grid-row: 3 / 6;
    background-image: url("../assets/product_banner.jpg");
    background-position: center;
    background-size: cover;
    padding: 32px 24px;
    border-radius: var(--border-radius-main);
    aspect-ratio: 9 / 16;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .product-banner__top {
        display: flex;
        flex-direction: column;
        gap: 2px;
        text-align: center;
    }

    & .product-banner__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: var(--primary-white);
        border-radius: var(--border-radius-main);
        padding: 12px 48px;
        white-space: nowrap;
    }
}

.page-size-box {
    border: 1px solid var(--primary-grey);
    border-radius: var(--border-radius-main);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    & .page-size-box__btn {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    & .page-size-box__list {
        display: none;
        flex-direction: column;
        gap: 6px;
        list-style-type: none;
    }

    & .page-size-box__list.open {
        display: flex;
    }

    & .page-size-box__list-item {
        text-align: center;
        cursor: pointer;
    }
}

.featured {
    width: 100%;
    position: relative;
    padding: 36px 16px;

    & .featured__heading {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 10px;
    }

    & .featured__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    & .featured__img-box {
        position: relative;
        aspect-ratio: 1 / 1;
        padding: 24px;
        background-color: var(--primary-grey);
        border-radius: var(--border-radius-main);
    }

    & .featured__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    & .featured__text-box {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    & .featured__img-text {
        position: absolute;
        top: 15px;
        left: 15px;
        border-radius: 1000px;
        z-index: 5;
        padding: 4px 12px;
    }

    & .featured__img-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 5;
    }

    & .featured__img-text--bestseller {
        background-color: var(--label-bestseller);
    }

    & .featured__img-text--limited-edition {
        background-color: var(--label-limited);
    }
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 300px !important;
    height: auto !important;
}

.swiper-next-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    cursor: pointer;
    z-index: 5;
    border: 1px solid var(--primary-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .body-text-large {
        font-size: 2rem;
    }

    .heading-text {
        font-size: 4.2rem;
    }

    .nav {
        & .nav__right-side {
            display: none;
        }

        & .nav__right-side-desktop {
            display: flex;
        }
        
        & .nav__links-list {
            display: flex;
        }

        & .nav__logo-side-extra-text {
            display: block;
        }
    }

    .header {
        height: 100vh;

        & .header__img {
            height: calc(100% - var(--nav-height) - 80px);
        }
    }

    .products {
        padding: 42px;

        & .products__header {
            flex-direction: row;
            justify-content: center;
            gap: 24px;
        }

        & .products__items {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 24px;
            padding: 32px;
        }

        & .products__single-item {
            padding: 32px;
        }

        & .products__info {
            font-size: initial;
        }
    }

    .product-modal {
        width: 840px;
        height: 620px;
        padding: 32px;
    }

    .product-banner {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        aspect-ratio: auto;
        align-items: center;
    }

    .featured {
        padding: 96px 42px;

        & .featured__heading {
            margin-bottom: 42px;
        }
    }

    .swiper-slide {
        width: 441px !important;
    }

    .swiper-next-btn {
        right: 20px;
    }
}